<!-- Header -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    
                    <h1>Sergio Alifano</h1>

                    <hr class="intro-divider">
                     <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://plus.google.com/u/0/+SergioAlifano_82/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/sergioalifano" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>                     
                            <a href="https://www.linkedin.com/pub/sergio-alifano/93/a0b/12a" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                   
                    <div class="quote">
                        The computer is not an intelligent machine that helps stupid people,<br />rather it's a stupid machine that only works in the hands of intelligent people<br />
                        - Umberto Eco -
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<!-- Page Content -->

    <a name="about"></a>
    <div class="content-about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <img class="img-responsive img-rounded" src="~/img/sydney.jpg" id="bg-img"/>
                    <img class="img-responsive img-rounded" src="~/img/pisa.jpg" id="pisa" />

                </div>

                <div class="col-xs-6 col-sm-3">
                    <img class="img-responsive img-rounded" src="~/img/lond-tel.jpg" id="london" />
                    <div class="img-responsive img-rounded" id="bg-img-translated"><h1>I love to travel and experience different cultures...</h1></div>
                    <img class="img-responsive img-rounded" src="~/img/naples.jpg" id="bg-img" />
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="col-xs-6 col-sm-3">
                    <img class="img-responsive img-rounded" src="~/img/boat.jpg" id="bg-img" />
                    <img class="img-responsive img-rounded" src="~/img/barcelona.jpg" id="barcelona" />

                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="img-responsive img-rounded" id="bg-img-translated"><h1>..but everywhere I go I bring music with me!!</h1></div>
                    <img class="img-responsive img-rounded" src="~/img/guitar.jpg" id="bg-img" />
                    <img class="img-responsive img-rounded" src="~/img/sing.jpg" id="sing" />
                </div>
            </div>            
        </div>    
    </div>

    <a name="work"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-8 col-sm-4">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Cheese Finder</h2>
                            <p class="lead">Run away from the cat and eat the cheese</p>
                            <img class="img-responsive" src="~/GIF/Cheese Finder.gif" alt="" id="img-padding">
                        </div>
                        <div class="col-xs-8 col-sm-4">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Combat Simulator</h2>
                            <p class="lead">Defeat the terrible Dragon and save the princess</p>

                            <img class="img-responsive" src="~/GIF/Combat.gif" alt="">
                        </div>
                        <div class="col-xs-8 col-sm-4">

                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Hangman</h2>
                            <p class="lead">Play the famous game and guess the word</p>
                            <img class="img-responsive" src="~/GIF/Hangman.gif" alt="" id="img-padding-right">
                        </div>
                    </div>
                </div>
            </div>
         </div>
       </div>
            
        <a name="resume"></a>
        <div class="content-section-c">
            <div class="container">
                <div class="row" >
                    <div class=".col-lg-12 ">
                        <iframe id="pdf" src="~/img/Sergio Alifano Resume.pdf"></iframe>
                                @*<object type="application/pdf" data="../img/Sergio Alifano no references.pdf" id="pdf"></object>*@
                    </div>                    
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-section-a -->
        <a name="contact"></a>
        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Contact me:</h2><br />
                        <form method="post" action="@Url.Action("Contact","Home")">
                            <table cellpadding="10">
                                <tr>
                                    <td>
                                        <label for="Name">Name</label>
                                    </td>
                                    <td>
                                        <input type="text" id="Name" name="Name" required style="color:black" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="Email">E-mail</label>
                                    </td>
                                    <td>
                                        <input type="email" id="Email" name="Email" required style="color:black" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="Body">Message</label>
                                    </td>
                                    <td>
                                        <textarea id="MessageBox" name="MessageBox" rows="4" cols="50" style="color:black"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </td>

                                </tr>
                            </table>

                        </form>                    
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.banner -->
